.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  .movie-class{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 3rem;
}