.movie-details-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poster-section {
  flex: 1 1 300px;
  text-align: center;
}

.movie-poster {
  width: 100%;
  /* max-width: 300px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-section {
  flex: 2 1 500px;
}

.movie-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.release-year {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.overview {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.movie-meta {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.movie-meta li {
  margin-bottom: 8px;
  font-size: 1rem;
}

.trailer-section {
  margin-top: 20px;
}

.trailer-section h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.cast-list, .crew-list{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
}

.cast-member {
  flex: 1 1 100px;
  text-align: center;
  min-width: 300px;
    position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  min-width: 300px;
  flex-direction: column;
}
.cast-member img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cast-member p {
  margin-top: 5px;
  font-size: 0.9rem;
  /* color: #333; */
}

.movie-scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  /* scrollbar-width: none;  */
}

.movie-scroll-container::-webkit-scrollbar {
  /* display: none;  */
}
